header {
  border-bottom: 16px solid $red;
}
.navbar-toggle {
  margin-top: -22px;
}
.navbar-default {
  a {
    color: $red;
    font-weight: bold;
  }
}
.featuredVideo {
  h2 {
    color: white;
    text-align: center;
    padding-top: 20px;
  }
}
@media (max-width: $screen-sm-min) {
  h1.navbar-brand_ {
    display: block;
    margin: 0 auto;
  }
}
